/* [----- CSS.RESET.START -----] */


/* [box_sizing.styles](https://css-tricks.com/box-sizing/) */

html {
    box-sizing: border-box;
}

*,
:before,
:after {
    box-sizing: inherit;
}

body {
    font: 400 16px/1.5 Lato;
    margin: 0;
    color: #2d3c49;
}

:focus {
    /* remove default outline [http://stackoverflow.com/questions/17324960/copy-chrome-default-inputs-outline-style] */
    outline: none;
}


/* [----- CSS.RESET.END -----] */


/* [----- CSS.SITE.STYLES.START -----] */


/* [----- CSS.SITE.STYLES.END -----] */
